* {

    margin: 0;
    padding: 0;
}

/* font */

.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.bitcount-font {
    font-family: "Bitcount", system-ui;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "slnt" 0,
        "CRSV" 0.5,
        "ELSH" 0,
        "ELXP" 0;
}

.width {
    width: 1440px;
    margin: 0 auto;
    margin-bottom: 80px;
}

header {
    background: linear-gradient(180.00deg, rgb(17, 17, 17), rgba(119, 119, 119, 0) 100%);
}

nav {
    padding: 50px 190px;
    display: flex;
    justify-content: space-between;
}

.nav-title h4 {
    font-size: 36px;
    font-weight: 800;
    color: #E6533C;
}

.nav-item-ul {
    display: flex;
    gap: 47px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 10px;
    border-radius: 39px;

}

.nav-item ul li {
    list-style: none;

}

.nav-item ul li a {
    text-decoration: none;
    color: aliceblue;

}

.home {
    padding: 8px 20px;
    background-color: #E6533C;
    border-radius: 39px;
}

/* banner */

.banner-container {
    display: flex;
    justify-content: space-between;
    width: 1440px;
    margin: 0 auto;
}

.banner-dis {
    width: 600px;
    gap: 80px;
    align-content: center;

    /* border: 1px solid; */
}

.banner-dis h1 {
    font-size: 78px;
    font-weight: 900;
    margin-bottom: 28px;

}

.shape {
    font-size: 78px;
    font-weight: 350;

}

.paragraph {
    color: rgba(255, 255, 255, 0.5);
    font-weight: 300;
    margin-bottom: 28px;

}

.btn-primary {
    border-radius: 42px;
    background: rgb(230, 83, 60);
    padding: 16px 40px;
    border: none;
    color: aliceblue;
    font-size: 18px;
    font-weight: 600;
    margin-right: 14px;
}

.btn-white {
    border-radius: 42px;
    background-color: aqua;
    padding: 16px 40px;
    border: 1px solid wheat;
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-weight: 600;
    margin-right: 14px;
}

.box-1 {
    margin-top: -150px;
    padding: 30px;

}

.box-2 {
    margin-top: -500;
}

.banner-box h4 {
    font-size: 24px;
}

.banner-box {
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;

    backdrop-filter: blur(20px);
    background: rgba(70, 70, 70, 0.54);
    width: 200px;
}

/* Change Your Habits */
.habit-text-item {
    justify-items: center;
    align-items: center;
}

.habits {
    margin-bottom: 54px;
    width: 670px;
    text-align: center;

}

.common-h1 {
    font-size: 48px;
    font-weight: 900;

}

.common-p {
    font-size: 14px;
    font-weight: 300;

}

.habits-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;

}

.habits-item {
    width: 230px;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.habits-item img {
    border-radius: 100px;
}

.habits-item h4 {
    font-size: 18px;
    font-weight: 600;
}

.habits-item h4,
p {
    /* text-align: center;
    justify-items: center;
    align-items: center; */

}

/* Run an Extra Mile Easily */
.run{
    background-color: #222222;
    display: flex;
    
}

.run-img{
    width: 366px; ;
    height: 312px;
    padding: 30px;
}




































/* respostive for mobile */
@media screen and (max-width: 557px) {
    nav {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        padding: 0px;
    }

    .banner-container {
        flex-direction: column;
    }

    .habit-text-item {
        justify-items: start;
        align-items: center;
    }

    .habits-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 40px;

    }
}