* {

    margin: 0;
    padding: 0;
}

header {
    background: linear-gradient(180.00deg, rgb(17, 17, 17), rgba(119, 119, 119, 0) 100%);
}

nav {
    padding: 50px 190px;
    display: flex;
    justify-content: space-between;
}

.nav-title h4 {
    font-size: 36px;
    font-weight: 800;
}

.nav-item-ul {
    display: flex;
    gap: 47px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 10px;
    border-radius: 39px;

}

.nav-item ul li {
    list-style: none;

}

.nav-item ul li a {
    text-decoration: none;
    color: aliceblue;

}